<table mat-table [dataSource]="cities" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element;let i = index"> {{element.position}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element;let i = index"> {{element.name}} </td>
    </ng-container>

      
    <!-- Getdata Column -->
    <ng-container matColumnDef="data">
        <th mat-header-cell *matHeaderCellDef> Get Data </th>
        <td mat-cell *matCellDef="let element;let i = index" >
          <button mat-raised-button
          color = "accent">
            Get Data
        </button>
      </ng-container>

    <!-- Temp Column -->
    <ng-container matColumnDef="temp">
        <th mat-header-cell *matHeaderCellDef> Temp </th>
        <td mat-cell *matCellDef="let element;let i = index" > {{element.temp}} </td>
      </ng-container>

    <!-- humidity Column -->
    <ng-container matColumnDef="humidity">
        <th mat-header-cell *matHeaderCellDef> Humidity </th>
        <td mat-cell *matCellDef="let element;let i = index"> {{element.humidity}} </td>
      </ng-container>

 <!-- icon Column -->
 <ng-container matColumnDef="icon">
    <th mat-header-cell *matHeaderCellDef> Icon </th>
    <td mat-cell *matCellDef="let element;let i = index"> {{element.icon}} </td>
  </ng-container>

   <!-- predict Column -->
   <ng-container matColumnDef="predict">
    <th mat-header-cell *matHeaderCellDef> Predict </th>
    <td mat-cell *matCellDef="let element;let i = index" >
      <button mat-raised-button 
      color = "accent"
      (click)="predict(i)" 
      *ngIf = !element.result>
        Predict
    </button>
    <button mat-raised-button *ngIf = element.result
    color = "primary">
    <!-- (click) = add(name,temp,humidity,result)> -->
      Save
  </button>
  </ng-container>

   <!-- result Column -->
 <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef> result </th>
    <td mat-cell *matCellDef="let element;let i = index"> {{element.result}} </td>
  </ng-container>




    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>